{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Check out my <a href = "/about">About</a> page.</p>
    <iframe src="https://aszilagyi.shinyapps.io/TIMEA_Shiny_R/" width = "1400" height = "800"></iframe>
{% endblock %}

<!--<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width" initial-scale = 1>
    <title>Home</title>
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
</head>
<body>
    <h1>Home</h1>
    <p>Check out my <a href = "/about">About</a> page.</p>
</body>
</html>-->