* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /*display: grid;*/
  /*background-color: black;*/
  background-color: #FFFF8F;
  /*color: whitesmoke;*/
  color: black;
  font-size: 3rem;
  display: flex;
  flex-flow: column;
  /*place-content: center;*/
}

nav {
  padding: 1rem;
  /*background-color: #44B78B;*/
  background-color: #2171B5;
  color: white;
  font-size: 2.5rem;
}

main {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

h1, h2 {
  font-size: 2.5rem;
  /*text-align: center;*/
}

p {
  font-size: 1rem;
  /*text-align: center;*/
}

a {
  text-decoration: none;
  color: #81dbb8;
}

a:hover {
  opacity: .85;
}

.banner {
  display: block;
  width: 100%;
  max-width: 800px;
}